@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slideIn {
  animation: slideIn 3s ease-in-out;
}

body {
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}